/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 p.submit { display: inline-block; }
 button#reset_color { padding: 7px 10px; background: red; border: none; outline: none; border-radius: 3px; margin-left: 10px; color: #fff; cursor: pointer; opacity: .7; } button#reset_color:hover{ opacity: 1;}